@import 'grid';
@import 'mixin';

$paragraph: 18px;
$min-width: 300px;

$article-margin-bottom: 10%;


$blue-border-box: 0px -5px  #4285F4;
//fonts and sizes
$header-n-text: Roboto, sans-serif;
$subtitle: Product Sans;
$date-n-subject: Roboto Mono, monospace;
//colors
$dark-gray-primary-color: #424242;
$light-gray-secondary-color: #5f6368;
$text-gray-color: #414549;
$blue-primary-color: #4285f4;
//margins
$min-margin: 2%;

li{
    @include nav-menu;
}

h1{
    @include headers;
}

h2{
    @include subtitles;
}

h5{
    @include dates-n-subjects;
}

p{
    @include text;
}

.img-responsive{
    @include images;
}


.container{
    margin: 30px;
}


#header-nav{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 7px;
}

#methodPodcast{
    padding: 50px;
    &:hover{
        @include box-shadows;
    }
}

#newsfeed{
    padding: 50px;
}

.small-article{
    padding: 50px;
    &:hover{
        @include box-shadows;
    }
//    max-height: 900px;
}

@for $section-container from 1 through 3{
    #{".border-line"}{
        box-shadow: $blue-border-box;
    }
}



//#newsfeed{
//    
//    .main-article{
//        .img-responsive{
//        width: 100%;
//        margin-top: $min-margin;
//        margin-bottom: $min-margin;
//        }
//        .link-blue{
//        color: $blue-primary-color;
//        }
//        .main-article-text{
//        max-height: 120px;
//        overflow: hidden;
//        }
//    }
//    padding: 50px;
//    font: $header-title;
//    color: $dark-gray-primary-color;
//    
//    .article{
//        margin-bottom: $article-margin-bottom;
//    }
//    .article-text{
//    max-height: 72px;
//    overflow: hidden;
//    }
//}
